<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <!-- ==================== LOG DIRECTORY PATH (Dev vs Prod) ==================== -->
       <Property name="LOG_BASE_DIR" value="/home/neelkamal/log"/>

    	<springProfile name="!dev">
        	<Property name="LOG_BASE_DIR" value="${sys:LOG_PATH:-/app/data/royawl/logs}"/>
    	</springProfile>

        <!-- Final File Paths -->
        <Property name="LOG_FILE_PATH"  value="${LOG_BASE_DIR}/royawl-eureka-server.log"/>
       <!-- <Property name="HTML_LOG_PATH"  value="${LOG_BASE_DIR}/royawl-api.html"/>-->

        <!-- Log Patterns -->
        <Property name="LOG_PATTERN_CONSOLE">
            %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}{GMT+05:30} %highlight{%-5level} %style{%pid}{magenta} --- [%style{%15.15t}{bold}] %-36.36c{1.} :%L:[%X{traceId}] %msg%n%ex
        </Property>

        <Property name="LOG_PATTERN_FILE">
            %d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level %pid --- [%15.15t] %-36.36c{1.} :%L: [%X{traceId}] %msg%n%ex
        </Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${LOG_PATTERN_CONSOLE}"/>
        </Console>

        <RollingFile name="File"
                     fileName="${LOG_FILE_PATH}"
                     filePattern="${LOG_FILE_PATH}.%d{yyyy-MM-dd}-%i.log"
                     append="true">
            <PatternLayout pattern="${LOG_PATTERN_FILE}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

      <!--  <RollingFile name="HtmlLog"
                     fileName="${HTML_LOG_PATH}"
                     filePattern="${HTML_LOG_PATH}.%d{yyyy-MM-dd}-%i.html"
                     append="false">
            <HTMLLayout title="Royawl API Logs" locationInfo="true"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>-->

    </Appenders>

    <Loggers>
        <Root level="warn">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
           <!-- <AppenderRef ref="HtmlLog"/>-->
        </Root>

        <Logger name="com.aryanlab.royawl" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="org.apache" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Logger name="org.springframework" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>
          <Logger name="com.netflix" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

       
    </Loggers>

</Configuration>